<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="xlsx.convert.yrl.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="xlsx.convert.yrl.xlsx.convert.yrl" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="xlsx.convert.yrl.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <xlsx.convert.yrl.Settings>
            <setting name="ftpUrl" serializeAs="String">
                <value>ftp://ann.perm.ru</value>
            </setting>
            <setting name="ftpUser" serializeAs="String">
                <value>uannpr30</value>
            </setting>
            <setting name="ftpPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="AgentOrganization" serializeAs="String">
                <value>ООО «Агентство недвижимости «Надежда»</value>
            </setting>
            <setting name="AgentPhones" serializeAs="String">
                <value>+73422652652 +73422423004</value>
            </setting>
            <setting name="AgentUrl" serializeAs="String">
                <value>http://www.ann.perm.ru/</value>
            </setting>
            <setting name="AgentEmail" serializeAs="String">
                <value>nadejda@mail.ru</value>
            </setting>
            <setting name="AgentLogo" serializeAs="String">
                <value>http://www.ann.perm.ru/img/logo2.png</value>
            </setting>
            <setting name="SkipRows" serializeAs="String">
                <value>0</value>
            </setting>
        </xlsx.convert.yrl.Settings>
        <xlsx.convert.yrl.xlsx.convert.yrl>
            <setting name="ftpUrl" serializeAs="String">
                <value>ftp://ann.perm.ru</value>
            </setting>
            <setting name="ftpUser" serializeAs="String">
                <value>uannpr30</value>
            </setting>
            <setting name="ftpPassword" serializeAs="String">
                <value>c26pt9e5</value>
            </setting>
        </xlsx.convert.yrl.xlsx.convert.yrl>
    </applicationSettings>
    <userSettings>
        <xlsx.convert.yrl.Settings>
            <setting name="ftpImages" serializeAs="String">
                <value>realtyimages</value>
            </setting>
            <setting name="ImagesUri" serializeAs="String">
                <value>http://www.ann.perm.ru/realtyimages/</value>
            </setting>
        </xlsx.convert.yrl.Settings>
    </userSettings>
</configuration>